<div class="row">
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">Guid Generator</div>
            <div class="panel-body">
                <form>
                    <button class="btn btn-primary pull-right" ng-click="addNewGuid()"><i class="glyphicon glyphicon-plus"></i>New GUID</button><br /><br />
                    <div class="input-group input-group-md">
                        <span class="input-group-addon" id="sizing-addon1">GUID</span>
                        <input type="text" class="form-control pull-right" ng-model="GUID" placeholder="00000000-0000-0000-0000-000000000000" aria-describedby="sizing-addon1">
                    </div>
                    <div class="input-group input-group-md">
                        <span class="input-group-addon" id="sizing-addon1">xml guid lower</span>
                        <input type="text" class="form-control pull-right" ng-model="GUID | lowercase" placeholder="00000000-0000-0000-0000-000000000000" aria-describedby="sizing-addon1">
                    </div>
                    <div class="input-group input-group-md">
                        <span class="input-group-addon" id="sizing-addon1">XML GUID UPPER</span>
                        <input type="text" class="form-control pull-right" ng-model="GUID | uppercase" placeholder="00000000-0000-0000-0000-000000000000" aria-describedby="sizing-addon1">
                    </div>
                    <div class="input-group input-group-md">
                        <span class="input-group-addon" id="sizing-addon1">json guid lower</span>
                        <input type="text" class="form-control pull-right" ng-model="GUID | jguidlower" placeholder="00000000000000000000000000000000" aria-describedby="sizing-addon1">
                    </div>
                    <div class="input-group input-group-md">
                        <span class="input-group-addon" id="sizing-addon1">JSON GUID UPPER</span>
                        <input type="text" class="form-control pull-right" ng-model="GUID | jguidupper" placeholder="00000000000000000000000000000000" aria-describedby="sizing-addon1">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>