
@{
    ViewBag.Title = "Guid Generator";
}

<h2>GuidGenerator</h2>
<div class="input-group">
    <input type="text" class="form-control" placeholder="Guid" aria-describedby="addGuid" />
    <button class="btn btn-primary" id="addGuid">
        <i class="glyphicon glyphicon-plus"></i>
        New Guid
    </button>
</div>


